<div class="home-container">
  <section class="hero-section">
    <a routerLink="/projects/academy-of-gods" class="hero-link">
      <img src="assets/home/hero.png" alt="Studio Jatayu">
    </a>
  </section>


  <!-- Collage Section -->
  <section class="collage-section">
    <h2 class="projects-heading">Projects</h2>
    <div class="collage-container">
      <div class="image-grid">

        <div class="image-item">
          <a [routerLink]="['/projects/bhag-zombie-bhag']">
            <img
              src="assets/home/bhag-zombie-bhag.png"
              alt="Bhag Zombie Bhag"
              class="collage-image"
            />
          </a>
        </div>

        <div class="image-item">
          <a [routerLink]="['/projects/niko']">
            <img
              src="assets/home/niko.png"
              alt="Fox character"
              class="collage-image"
            />
          </a>
        </div>

        <div class="image-item">
          <a [routerLink]="['/projects/girl-and-the-monster']">
            <img
              src="assets/home/girl-and-the-monster.png"
              alt="Child with large green creature"
              class="collage-image"
            />
          </a>
        </div>

        <div class="image-item">
          <a [routerLink]="['/projects/balakanda']">
            <img
              src="assets/home/balakanda.png"
              alt="Warrior character"
              class="collage-image"
            />
          </a>
        </div>

        <div class="image-item">
          <a [routerLink]="['/projects/dino-and-dyno']">
            <img
              src="assets/home/dino-and-dyno.png"
              alt="Girl with toy dinosaur"
              class="collage-image"
            />
          </a>
        </div>

        <div class="image-item">
          <a [routerLink]="['/projects/academy-of-gods']">
            <img
              src="assets/home/academy-of-gods.png"
              alt="Character in ornate clothing"
              class="collage-image"
            />
          </a>
        </div>

      </div>
    </div>
  </section>

</div>
