<div class="projects-container">
  <div class="project-card">
    <a routerLink="/projects/academy-of-gods" class="project-link">
      <div class="project-image">
        <img src="/aog-poster.png" alt="Academy of Gods">
      </div>
      <div class="project-info">
        <h3>Academy of Gods</h3>
      </div>
    </a>
  </div>

  <div class="project-card">
    <a routerLink="/projects/balakanda" class="project-link">
      <div class="project-image">
        <img src="/aog-poster.png" alt="Balakanda">
      </div>
      <div class="project-info">
        <h3>Balakanda</h3>
      </div>
    </a>
  </div>

  <div class="project-card">
    <a routerLink="/projects/dino-and-dyno" class="project-link">
      <div class="project-image">
        <img src="/aog-poster.png" alt="Dino and Dyno">
      </div>
      <div class="project-info">
        <h3>Dino and Dyno</h3>
      </div>
    </a>
  </div>

  <div class="project-card">
    <a routerLink="/projects/girl-and-the-monster" class="project-link">
      <div class="project-image">
        <img src="/girl-and-the-monster.png" alt="Girl and the Monster">
      </div>
      <div class="project-info">
        <h3>Girl and the Monster</h3>
      </div>
    </a>
  </div>

  <div class="project-card">
    <a routerLink="/projects/niko" class="project-link">
      <div class="project-image">
        <img src="/aog-poster.png" alt="Niko">
      </div>
      <div class="project-info">
        <h3>Niko</h3>
      </div>
    </a>
  </div>

  <div class="project-card">
    <a routerLink="/projects/bhag-zombie-bhag" class="project-link">
      <div class="project-image">
        <img src="/aog-poster.png" alt="Bhag Zombie Bhag">
      </div>
      <div class="project-info">
        <h3>Bhag Zombie Bhag</h3>
      </div>
    </a>
  </div>
</div>
