<div class="login-container">
  <div class="login-form">
    <h1>LOGIN</h1>

    <form (ngSubmit)="onSubmit()">
      <div class="input-group">
        <div class="input-field">
          <img src="assets/icons/mail.svg" alt="Email" class="input-icon">
          <input type="email" [(ngModel)]="email" name="email" required placeholder="Email ID">
        </div>
        <div class="input-line"></div>
      </div>

      <div class="input-group">
        <div class="input-field">
          <img src="assets/icons/lock.svg" alt="Password" class="input-icon">
          <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" name="password" required placeholder="Password">
          <!-- <img src="assets/icons/eye.svg" class="input-icon toggle-password" (click)="togglePassword()" [alt]="showPassword ? 'Hide' : 'Show'">
         -->
        </div>
        <div class="input-line"></div>
      </div>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <div class="options">
        <label class="remember-me">
          <input type="checkbox" [(ngModel)]="rememberMe" name="rememberMe">
          <span>Remember me</span>
        </label>
        <a routerLink="/forgot-password" class="forgot-password">Forgot Password?</a>
      </div>

      <button type="submit" class="login-button">LOGIN</button>

      <div class="register-link">
        Don't have an account? <span class="register-link-text" (click)="navigateToRegister()">Register</span>
      </div>
    </form>
  </div>
</div>
