<div class="project-container">
  <div class="project-header">
    <h1 class="project-title">Gully Gangs</h1>
  </div>

  <div class="project-content">
    <div class="video-container">
      <img src="assets/projects/gully-gangs.png" alt="Gully Gangs Poster" class="poster-image">
    </div>

    <div class="project-details">
      <div class="poster-container">
        <img src="assets/projects/aog-poster.png" alt="Girl and the Monster Poster">
      </div>
      <div class="description-container">
        <p>{{ description }}</p>
      </div>
    </div>
  </div>

  <div class="project-navigation">
    <a routerLink="/projects" class="back-button">← Back to Projects</a>
  </div>
</div>
